body {
    font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: #E5E7EB;
    padding: 20px;
}

a {
    display: flex;
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
}